@charset "UTF-8";
header {
  font-family: Inter, cursive;
  font-size: 1rem;
  background-color: #1e1e1e;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header p {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0;
  padding: 8px;
  font-size: 1.25rem;
  text-align: center;
}

body {
  background-color: #121212;
  margin: 0;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  font-family: "JetBrains Mono", serif;
  height: 100vh;
  box-sizing: border-box;
}

main {
  display: flex;
  flex: 1;
  gap: 5%;
  min-height: 0;
}

.leftSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: 1;
  align-items: center;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 25px;
  padding-top: 8px;
  height: 100%;
}

#image {
  max-width: 60%;
  max-height: 60%;
  margin-top: 5%;
  align-items: center;
}

#input-container, #input-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputLabel, #x-choose {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 4px;
}

.checkbox-label {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
  gap: 3px;
}

#xs {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

#text-input {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
}

input[type=number] {
  height: 1.5rem;
  width: 100%;
  background-color: #1e1e1e;
  border: 1px solid #4b5563;
  color: #d4d4d4;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: "JetBrains Mono", serif;
  font-size: 1.2rem;
}

input[type=checkbox] {
  appearance: none;
  opacity: 0;
  position: absolute;
}

.custom-box {
  width: 18px;
  height: 18px;
  background: #2b3038;
  border: solid 1px #4b5563;
  border-radius: 2px;
  position: relative;
  display: inline-block;
}

.custom-box::after {
  content: "×";
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: transparent;
}

input[type=checkbox]:checked + .custom-box {
  background: #3399fe;
  border-color: #121212;
}

input[type=checkbox]:checked + .custom-box::after {
  color: #121212;
}

#submit-container {
  background-color: #1e1e1e;
  border-radius: 16px;
  padding: 16px 16px 0;
  box-sizing: border-box;
  position: fixed;
  bottom: 25px;
  left: 5px;
  width: 50%;
  min-width: 450px;
}

button[type=submit] {
  height: 2rem;
  width: 100%;
  font-size: 1.3rem;
  background-color: #2b3038;
  border: 1px solid #4b5563;
  color: #d4d4d4;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "JetBrains Mono", serif;
}

.allSubmits {
  background-color: #1e1e1e;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  margin-right: 10px;
  width: 100%;
}

.allSubmits h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

.scroll {
  overflow-y: auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

table {
  font-size: 1.1rem;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  word-break: break-word;
}

thead th {
  padding: 16px 0 16px;
  background-color: #2b3038;
  border-left: 1px solid #2b3038;
  border-right: 1px solid #2b3038;
}

tbody td {
  font-weight: normal;
  text-align: center;
}

tbody tr {
  height: 2.5rem;
  border-top: 1px solid #333c49;
}

tr:first-child {
  border: 0;
}

tr:first-child th:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-left: 0;
}

tr:first-child th:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-right: 0;
}

.pop-up {
  opacity: 0;
  background-color: #530404;
  border-left: 2px solid #df2a1e;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  height: 80px;
  width: 300px;
  text-align: center;
  transition: 0.3s all;
}

.pop-up h3 {
  font-size: 1.25rem;
  margin: 12px;
}

#error-message {
  font-size: 1rem;
  text-align: center;
  color: #818185;
}

.pop-up.show {
  opacity: 1;
}

.close-button {
  color: #000000;
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #4a0101;
  height: 30px;
  width: 30px;
}

@media (max-width: 750px) {
  #input-container {
    flex-direction: column;
  }
  #submit-container {
    margin-left: 2%;
    width: 37%;
    min-width: 450px;
  }
  .leftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  #image {
    width: 45%;
    min-width: 150px;
    margin-top: 40%;
  }
  .rightSection {
    flex: 1.5;
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin-right: 0;
  }
}
@media (max-height: 220px) {
  #submit-container {
    opacity: 0;
  }
}
@media (max-width: 750px) and (max-height: 360px) {
  #submit-container {
    opacity: 0;
  }
}

/*# sourceMappingURL=home_page_style.css.map */
